*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.m-2 {
  margin: 0.5rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-16 {
  margin-top: 4rem
}

.ml-0 {
  margin-left: 0px
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.h-8 {
  height: 2rem
}

.h-full {
  height: 100%
}

.w-8 {
  width: 2rem
}

.w-24 {
  width: 6rem
}

.w-96 {
  width: 24rem
}

.w-48 {
  width: 12rem
}

.w-full {
  width: 100%
}

.w-\[100\%\] {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-\[\#E3E3E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(227 227 232 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity))
}

.bg-neutral-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(64 64 64 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pt-3 {
  padding-top: 0.75rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pt-24 {
  padding-top: 6rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pt-2 {
  padding-top: 0.5rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.tracking-widest {
  letter-spacing: 0.1em
}

.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-\[\#1c1c1e\] {
    --tw-bg-opacity: 1;
    background-color: rgb(28 28 30 / var(--tw-bg-opacity))
  }
}
